/* index */
/* Tab bar icons */
.page{
    background-color: #F7F7F7;
}
i.tabbar-icon-index {
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' fill='%23929292' viewBox='0 0 486.196 486.196' style='enable-background:new 0 0 486.196 486.196;' xml:space='preserve'> <path d='M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1 c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6 c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2 c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5 C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9 v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0 s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z'/></svg>");
}
.active i.tabbar-icon-index {
  background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' fill='#DCBA62' viewBox='0 0 486.196 486.196' style='enable-background:new 0 0 486.196 486.196;' xml:space='preserve'> <path d='M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1 c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6 c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2 c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5 C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9 v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0 s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z'/></svg>");
}
i.tabbar-icon-service {
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='%23929292' viewBox='0 0 409.223 409.223' enable-background='new 0 0 409.223 409.223'> <path d='m240.153,226.521l52.812,40.237c4.393,3.347 5.241,9.621 1.894,14.015-1.968,2.583-4.947,3.94-7.962,3.94-2.112,0-4.242-0.667-6.053-2.047l-52.812-40.237c-4.393-3.347-5.241-9.621-1.894-14.015 3.347-4.392 9.621-5.243 14.015-1.893zm-131.711-139.567c-17.907-18.896-25.428-46.52-21.21-78.271 0.662-4.97 4.9-8.683 9.914-8.683h8.943c3.047,0 5.927,1.389 7.824,3.772 2.704,3.397 5.587,6.371 8.669,8.936 0.14,0.109 0.277,0.223 0.412,0.34 5.745,4.684 12.179,7.964 19.441,9.935 11.575,3.142 32.172,2.57 48.717,2.111 5.724-0.159 11.13-0.309 15.888-0.309 24.353,0 44.164,19.813 44.164,44.165 0,12.65-5.345,24.074-13.896,32.134v35.308c0,0.617-0.058,1.233-0.171,1.84l-9.142,48.838c-3.13,16.73-14.597,27.541-29.212,27.541h-51.818c-14.616,0-26.082-10.811-29.211-27.542l-9.141-48.83c-0.113-0.606-0.171-1.223-0.171-1.84v-49.445zm108.866,24.956c-3.295,0.787-6.734,1.205-10.268,1.205-3.343,0-6.691,0.036-10.035,0.072-23.252,0.253-47.13,0.511-68.563-10.946v33.229l8.97,47.919c0.351,1.875 2.458,11.221 9.553,11.221h51.818c7.095,0 9.203-9.347 9.554-11.22l8.971-47.927v-23.553zm-92.402-36.759c0.08,0.076 0.161,0.153 0.241,0.229 0.093,0.083 0.184,0.169 0.272,0.256 19.418,18.115 44.67,17.846 71.368,17.554 3.416-0.037 6.837-0.074 10.252-0.074 5.135,0 9.899-1.609 13.818-4.351 0.329-0.278 0.676-0.535 1.039-0.769 5.661-4.427 9.307-11.318 9.307-19.045 0-13.325-10.84-24.166-24.164-24.166-4.48,0-9.752,0.146-15.333,0.301-15.848,0.438-33.48,0.93-47.264-1.276 10.225,8.784 21.448,12.108 30.699,13.105 5.49,0.592 9.462,5.523 8.87,11.015-0.592,5.49-5.519,9.459-11.014,8.87-16.888-1.82-47.482-10.788-64.854-50.145-0.691-0.609-1.376-1.234-2.051-1.873-0.147,20.886 6.345,38.463 18.814,50.369zm72.559,285.787l-14.591-14.524v-47.269c0-5.522-4.478-10-10-10s-10,4.478-10,10v47.269l-43.001,42.806h-22.254v-62.978c0-5.522-4.478-10-10-10s-10,4.478-10,10v72.978c0,5.522 4.478,10 10,10h36.383c2.645,0 5.181-1.047 7.055-2.913l41.817-41.627 10.481,10.433c3.913,3.896 10.246,3.882 14.142-0.032 3.897-3.916 3.882-10.248-0.032-14.143zm8.937-121.935c-2.16-5.08-8.028-7.45-13.116-5.288l-20.412,8.682-20.411-8.682c-5.088-2.162-10.956,0.207-13.116,5.288-2.162,5.082 0.206,10.955 5.288,13.116l2.688,1.144-2.688,1.144c-5.082,2.161-7.45,8.033-5.288,13.116 2.161,5.082 8.031,7.452 13.116,5.288l20.411-8.681 20.41,8.681c1.277,0.543 2.604,0.801 3.909,0.801 3.89,0 7.589-2.284 9.207-6.089 2.162-5.082-0.206-10.955-5.288-13.116l-2.688-1.144 2.689-1.144c5.083-2.161 7.451-8.033 5.289-13.116zm171.083,160.218c0,5.522-4.478,10-10,10h-19.208c-0.066,0.001-0.134,0.002-0.201,0.002s-0.135-0.001-0.201-0.002h-121.944c-0.133,0.002-0.27,0.002-0.402,0h-19.206c-5.522,0-10-4.478-10-10s4.478-10 10-10h9.407v-3.766c0-35.853 26.646-65.598 61.175-70.472v-8.311c0-5.522 4.478-10 10-10s10,4.478 10,10v8.311c34.527,4.877 61.172,34.621 61.172,70.472v3.766h9.409c5.522,0 9.999,4.477 9.999,10zm-39.409-13.766c0-28.216-22.956-51.172-51.172-51.172-28.218,0-51.175,22.956-51.175,51.172v3.766h102.347v-3.766zm-218.412-157.038c-3.345-4.394-9.619-5.246-14.014-1.898l-69.971,53.27c-2.484,1.892-3.942,4.835-3.942,7.957v111.476c0,5.522 4.478,10 10,10s10-4.478 10-10v-106.522l66.028-50.27c4.395-3.344 5.245-9.618 1.899-14.013z'/> </svg>");
}
.active i.tabbar-icon-service {
  background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='#DCBA62' viewBox='0 0 409.223 409.223' enable-background='new 0 0 409.223 409.223'> <path d='m240.153,226.521l52.812,40.237c4.393,3.347 5.241,9.621 1.894,14.015-1.968,2.583-4.947,3.94-7.962,3.94-2.112,0-4.242-0.667-6.053-2.047l-52.812-40.237c-4.393-3.347-5.241-9.621-1.894-14.015 3.347-4.392 9.621-5.243 14.015-1.893zm-131.711-139.567c-17.907-18.896-25.428-46.52-21.21-78.271 0.662-4.97 4.9-8.683 9.914-8.683h8.943c3.047,0 5.927,1.389 7.824,3.772 2.704,3.397 5.587,6.371 8.669,8.936 0.14,0.109 0.277,0.223 0.412,0.34 5.745,4.684 12.179,7.964 19.441,9.935 11.575,3.142 32.172,2.57 48.717,2.111 5.724-0.159 11.13-0.309 15.888-0.309 24.353,0 44.164,19.813 44.164,44.165 0,12.65-5.345,24.074-13.896,32.134v35.308c0,0.617-0.058,1.233-0.171,1.84l-9.142,48.838c-3.13,16.73-14.597,27.541-29.212,27.541h-51.818c-14.616,0-26.082-10.811-29.211-27.542l-9.141-48.83c-0.113-0.606-0.171-1.223-0.171-1.84v-49.445zm108.866,24.956c-3.295,0.787-6.734,1.205-10.268,1.205-3.343,0-6.691,0.036-10.035,0.072-23.252,0.253-47.13,0.511-68.563-10.946v33.229l8.97,47.919c0.351,1.875 2.458,11.221 9.553,11.221h51.818c7.095,0 9.203-9.347 9.554-11.22l8.971-47.927v-23.553zm-92.402-36.759c0.08,0.076 0.161,0.153 0.241,0.229 0.093,0.083 0.184,0.169 0.272,0.256 19.418,18.115 44.67,17.846 71.368,17.554 3.416-0.037 6.837-0.074 10.252-0.074 5.135,0 9.899-1.609 13.818-4.351 0.329-0.278 0.676-0.535 1.039-0.769 5.661-4.427 9.307-11.318 9.307-19.045 0-13.325-10.84-24.166-24.164-24.166-4.48,0-9.752,0.146-15.333,0.301-15.848,0.438-33.48,0.93-47.264-1.276 10.225,8.784 21.448,12.108 30.699,13.105 5.49,0.592 9.462,5.523 8.87,11.015-0.592,5.49-5.519,9.459-11.014,8.87-16.888-1.82-47.482-10.788-64.854-50.145-0.691-0.609-1.376-1.234-2.051-1.873-0.147,20.886 6.345,38.463 18.814,50.369zm72.559,285.787l-14.591-14.524v-47.269c0-5.522-4.478-10-10-10s-10,4.478-10,10v47.269l-43.001,42.806h-22.254v-62.978c0-5.522-4.478-10-10-10s-10,4.478-10,10v72.978c0,5.522 4.478,10 10,10h36.383c2.645,0 5.181-1.047 7.055-2.913l41.817-41.627 10.481,10.433c3.913,3.896 10.246,3.882 14.142-0.032 3.897-3.916 3.882-10.248-0.032-14.143zm8.937-121.935c-2.16-5.08-8.028-7.45-13.116-5.288l-20.412,8.682-20.411-8.682c-5.088-2.162-10.956,0.207-13.116,5.288-2.162,5.082 0.206,10.955 5.288,13.116l2.688,1.144-2.688,1.144c-5.082,2.161-7.45,8.033-5.288,13.116 2.161,5.082 8.031,7.452 13.116,5.288l20.411-8.681 20.41,8.681c1.277,0.543 2.604,0.801 3.909,0.801 3.89,0 7.589-2.284 9.207-6.089 2.162-5.082-0.206-10.955-5.288-13.116l-2.688-1.144 2.689-1.144c5.083-2.161 7.451-8.033 5.289-13.116zm171.083,160.218c0,5.522-4.478,10-10,10h-19.208c-0.066,0.001-0.134,0.002-0.201,0.002s-0.135-0.001-0.201-0.002h-121.944c-0.133,0.002-0.27,0.002-0.402,0h-19.206c-5.522,0-10-4.478-10-10s4.478-10 10-10h9.407v-3.766c0-35.853 26.646-65.598 61.175-70.472v-8.311c0-5.522 4.478-10 10-10s10,4.478 10,10v8.311c34.527,4.877 61.172,34.621 61.172,70.472v3.766h9.409c5.522,0 9.999,4.477 9.999,10zm-39.409-13.766c0-28.216-22.956-51.172-51.172-51.172-28.218,0-51.175,22.956-51.175,51.172v3.766h102.347v-3.766zm-218.412-157.038c-3.345-4.394-9.619-5.246-14.014-1.898l-69.971,53.27c-2.484,1.892-3.942,4.835-3.942,7.957v111.476c0,5.522 4.478,10 10,10s10-4.478 10-10v-106.522l66.028-50.27c4.395-3.344 5.245-9.618 1.899-14.013z'/> </svg>");
}
i.tabbar-icon-hotel {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='%23929292' viewBox='0 0 315 315' enable-background='new 0 0 315 315'> <path d='m292.617,146.484h-3.105v-51.322c0-17.997-14.642-32.639-32.638-32.639h-198.748c-17.996,0-32.638,14.642-32.638,32.639v51.322h-3.106c-12.341,0-22.382,10.041-22.382,22.383v33.162c0,12.342 10.041,22.383 22.383,22.383h27.672v21.064c0,3.866 3.134,7 7,7s7-3.134 7-7v-21.064h186.891v21.064c0,3.866 3.134,7 7,7 3.866,0 7-3.134 7-7v-21.064h27.672c12.342,0 22.383-10.041 22.383-22.383v-33.162c-0.001-12.342-10.042-22.383-22.384-22.383zm-253.129-51.322c0-10.277 8.36-18.639 18.638-18.639h198.748c10.277,0 18.638,8.361 18.638,18.639v51.322h-8.974v-14.057c0-8.964-7.292-16.256-16.255-16.256h-71.754c-8.965,0-16.258,7.292-16.258,16.256v14.057h-9.543v-14.057c0-8.964-7.293-16.256-16.258-16.256h-71.753c-8.963,0-16.255,7.292-16.255,16.256v14.057h-8.974v-51.322zm136.783,51.322v-14.057c0-1.223 1.034-2.256 2.258-2.256h71.754c1.223,0 2.255,1.033 2.255,2.256v14.057h-76.267zm-113.809,0v-14.057c0-1.223 1.032-2.256 2.255-2.256h71.754c1.224,0 2.258,1.033 2.258,2.256v14.057h-76.267zm238.538,55.545c0,4.622-3.761,8.383-8.383,8.383h-270.234c-4.622,0-8.383-3.761-8.383-8.383v-33.162c0-4.622 3.761-8.383 8.383-8.383h270.234c4.622,0 8.383,3.761 8.383,8.383v33.162z'/> </svg>");
}
.active i.tabbar-icon-hotel {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='#DCBA62' viewBox='0 0 315 315' enable-background='new 0 0 315 315'> <path d='m292.617,146.484h-3.105v-51.322c0-17.997-14.642-32.639-32.638-32.639h-198.748c-17.996,0-32.638,14.642-32.638,32.639v51.322h-3.106c-12.341,0-22.382,10.041-22.382,22.383v33.162c0,12.342 10.041,22.383 22.383,22.383h27.672v21.064c0,3.866 3.134,7 7,7s7-3.134 7-7v-21.064h186.891v21.064c0,3.866 3.134,7 7,7 3.866,0 7-3.134 7-7v-21.064h27.672c12.342,0 22.383-10.041 22.383-22.383v-33.162c-0.001-12.342-10.042-22.383-22.384-22.383zm-253.129-51.322c0-10.277 8.36-18.639 18.638-18.639h198.748c10.277,0 18.638,8.361 18.638,18.639v51.322h-8.974v-14.057c0-8.964-7.292-16.256-16.255-16.256h-71.754c-8.965,0-16.258,7.292-16.258,16.256v14.057h-9.543v-14.057c0-8.964-7.293-16.256-16.258-16.256h-71.753c-8.963,0-16.255,7.292-16.255,16.256v14.057h-8.974v-51.322zm136.783,51.322v-14.057c0-1.223 1.034-2.256 2.258-2.256h71.754c1.223,0 2.255,1.033 2.255,2.256v14.057h-76.267zm-113.809,0v-14.057c0-1.223 1.032-2.256 2.255-2.256h71.754c1.224,0 2.258,1.033 2.258,2.256v14.057h-76.267zm238.538,55.545c0,4.622-3.761,8.383-8.383,8.383h-270.234c-4.622,0-8.383-3.761-8.383-8.383v-33.162c0-4.622 3.761-8.383 8.383-8.383h270.234c4.622,0 8.383,3.761 8.383,8.383v33.162z'/> </svg>");
}

i.tabbar-icon-my{
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 482.9 482.9' fill='%23929292' style='enable-background:new 0 0 482.9 482.9;' xml:space='preserve'><g><g><path d='M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5    c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6    c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z     M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4    c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0    c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z'/><path d='M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3    c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7    c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41    c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56    c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8    c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3    c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3    C447,415.5,446.9,388.8,446.8,383.6z'/></g></g></svg>");
}

.active i.tabbar-icon-my{
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 482.9 482.9' fill='#DCBA62' style='enable-background:new 0 0 482.9 482.9;' xml:space='preserve'><g><g><path d='M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5    c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6    c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z     M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4    c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0    c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z'/><path d='M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3    c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7    c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41    c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56    c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8    c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3    c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3    C447,415.5,446.9,388.8,446.8,383.6z'/></g></g></svg>");
}

/* brief */
/*swiper*/
.swiper-container {
  height: 280px;
}
.swiper-slide {
  background: #000;
  position: relative;
}
.swiper-slide img {
  position: absolute;
  left:50%;
  top:50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*service*/

.service-list{
  margin: 15px 0;
}
.service-list-order-content{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 14px;
  color: #6d6d72;
}
.service-list-order-id{
  /*margin-bottom: -13px;*/
 }
.service-list-order-name{
  position: relative;
  font-weight: normal;
  display: inline;
 }

.service-list-order-num{
  position: relative;
  display: inline;
}
.service-list-order-time0{
  position: relative;
  top: 7px;
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
}

.service-list-order-time1{
  position: relative;
  top: 7px;
  display: inline;
  margin: 0;
  margin-left: -8px;
  font-size: 12px;
}

.service-list-order-time2{
  position: relative;
  top: 7px;
  display: inline;
  margin: 0;
  font-size: 12px;
}


.service-list-order-status{
  position: relative;
  display: inline;
  float: right;
  font-size: 12px;
  margin-top: 0px;
}

.service-list-order-status:after{
  content:' ';
  position: absolute;
  top: 5px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-right:solid 1px #6d6d72;
  border-top:solid 1px #6d6d72;
  transform: rotateZ(45deg);
}

.order-status1:before{
  content: '...等待处理';
  opacity: .5;
  margin-right: 14px;
 }
.order-status2:before{
  content: '订房成功';
  color: rgb(0,200,50);
 margin-right: 14px;
 }
.order-status3:before{
  content: '订房失败';
  color: rgb(200,50,50);
  margin-right: 14px;
 }

 .service-list-order-price{
  float: right;
  position: relative;
  top: 4px;
  margin: 0;
 }



/*intro-p1*/
.introMenu {
    background: #fff;
    text-align: center;
    color: #000;
    /*border: 1px solid #ddd;*/
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
}
.intro-p1-img{
    width: 100%;
    height:100%;
    border-radius: 3px;
}

.intro-p1-h3{
    /*position: absolute;*/
    bottom: -9px;
    width: 97%;
    height: 20%;
    filter:alpha(opacity=80); /*支持 IE 浏览器*/
    -moz-opacity:0.80; /*支持 FireFox 浏览器*/
    opacity:0.80; /*支持 Chrome, Opera, Safari 等浏览器*/
    color: #6d6d72;
}

.intro-p1-h3:after{
  content: ' ';
  position: absolute;
  left: 25%;
  margin-top: 1.625em;
  height: 3px;
  width: 50%;
  background-color: #DCBA62;
}
.intro-p1-p{
    /*position: absolute;*/
    bottom: -9px;
    width: 97%;
    height: 20%;    
    filter:alpha(opacity=60); /*支持 IE 浏览器*/
    -moz-opacity:0.60; /*支持 FireFox 浏览器*/
    opacity:0.60; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.intro-p1-row {
    margin-bottom: 15px;
}

/*intro-P2*/
.bottom_button{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.intro-p2 h3{
  text-align: center;
}

.intro-p2 h3:after{
  content: ' ';
  position: absolute;
  left: 14px;
  left: 25%;
  margin-top: 1.625em;
  height: 3px;
  width: 50%;
  background-color: #DCBA62;
}







/*movie-P1*/
/*影片图片*/
.movie-p1-img{
    width: 100%;
    height:100%;
    border-radius: 3px;
}
/*影片名称*/
.movie-p1-h3{
  text-align: center;
  opacity: 0.8;
  color: #6d6d72;
}
.movie-p1-h3:after{
  content: ' ';
  position: absolute;
  left: 14px;
  left: 25%;
  margin-top: 1.625em;
  height: 3px;
  width: 50%;
  background-color: #DCBA62;
}
/*副标题1*/
.movie-p1-p1{
  text-align: center;
  opacity: 0.6;
  margin-bottom: 0px;
  color: #000
}
/*副标题2*/
.movie-p1-p2{
  opacity: 0.6;
  margin-top: 0.25em;
  margin-bottom: 3em;
  text-align: center;
  color: #000
}

/*加载提示符样式*/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}


/*movie-p2*/
.movie-p2-name{
  text-align: center;
}
.movie-p2-name:after{
  content: ' ';
  position: absolute;
  left: 14px;
  left: 25%;
  margin-top: 1.625em;
  height: 3px;
  width: 50%;
  background-color: #DCBA62;
}

.movie-p2-intro1{
  text-align: center;
  opacity: 0.6;
  margin-bottom: 0px;
}
.movie-p2-intro2{
  opacity: 0.6;
  margin-top: 0.25em;
  margin-bottom: 3em;
  text-align: center;
}
.movie-p2-intro{
  text-indent: 1em;
}








/*TV*/
.TV-list-item{
    max-height: 44px;
}
.video-item{
    z-index: -1;
}
.TV-item{
    margin-top:-22px;
}


/*room*/
.room{
  margin-bottom: 70px;
}

.roo-calendar{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*filter:alpha(opacity=100);*/
    /*-moz-opacity:1;*/
    opacity:1;
}
.room-img{
    width: 100%;
    height:100%;
    border-radius: 3px;
}

.room-info-txt{
  position: relative;
  margin-top: 7px;

}

.room-title{
  margin:0;
  color: rgb(51,51,51);
  font-weight: normal;
}

.room-tip{
    border: 0.5px solid grey;
    border-radius: 3px ;
    font-size: 9px;
    padding:3px 6px;
}

.room .price{
   position: absolute;
    top: 2px;
    right: 0;
    margin: 0px;
    background-color: #DCBA62;
    color: white;
    padding: 3px 12px 3px 9px;
}

.room .reserve{
  position: relative;
  float: right;
  background:none;
  margin-top: 9px;
  margin-right: 14px;
  border: none;
}

.room .reserve:after{
  content: ' ';
  position: absolute;
  right:-4px;
  top:7px;
  width: 4px;
  height: 4px;
  border-top: solid 0.5px rgb(51,51,51);
  border-right: solid 0.5px rgb(51,51,51);
  transform: rotateZ(45deg); 

}
.room .reserve[disabled=disabled]{
  margin-right: 0px;

}
.room .reserve[disabled=disabled]:after{
  display: none;
}

/*icon*/
.icon-location{
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' fill='#DCBA62' viewBox='0 0 466.583 466.582' style='enable-background:new 0 0 466.583 466.582;' xml:space='preserve'> <path d='M233.292,0c-85.1,0-154.334,69.234-154.334,154.333c0,34.275,21.887,90.155,66.908,170.834 c31.846,57.063,63.168,104.643,64.484,106.64l22.942,34.775l22.941-34.774c1.317-1.998,32.641-49.577,64.483-106.64 c45.023-80.68,66.908-136.559,66.908-170.834C387.625,69.234,318.391,0,233.292,0z M233.292,233.291c-44.182,0-80-35.817-80-80 s35.818-80,80-80c44.182,0,80,35.817,80,80S277.473,233.291,233.292,233.291z'/> </svg>");
}
.icon-phone{
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 578.106 578.106' style='enable-background:new 0 0 578.106 578.106;' xml:space='preserve'> <path style='fill:white;' d='M577.83,456.128c1.225,9.385-1.635,17.545-8.568,24.48l-81.396,80.781 c-3.672,4.08-8.465,7.551-14.381,10.404c-5.916,2.857-11.729,4.693-17.439,5.508c-0.408,0-1.635,0.105-3.676,0.309 c-2.037,0.203-4.689,0.307-7.953,0.307c-7.754,0-20.301-1.326-37.641-3.979s-38.555-9.182-63.645-19.584 c-25.096-10.404-53.553-26.012-85.376-46.818c-31.823-20.805-65.688-49.367-101.592-85.68 c-28.56-28.152-52.224-55.08-70.992-80.783c-18.768-25.705-33.864-49.471-45.288-71.299 c-11.425-21.828-19.993-41.616-25.705-59.364S4.59,177.362,2.55,164.51s-2.856-22.95-2.448-30.294 c0.408-7.344,0.612-11.424,0.612-12.24c0.816-5.712,2.652-11.526,5.508-17.442s6.324-10.71,10.404-14.382L98.022,8.756 c5.712-5.712,12.24-8.568,19.584-8.568c5.304,0,9.996,1.53,14.076,4.59s7.548,6.834,10.404,11.322l65.484,124.236 c3.672,6.528,4.692,13.668,3.06,21.42c-1.632,7.752-5.1,14.28-10.404,19.584l-29.988,29.988c-0.816,0.816-1.53,2.142-2.142,3.978 s-0.918,3.366-0.918,4.59c1.632,8.568,5.304,18.36,11.016,29.376c4.896,9.792,12.444,21.726,22.644,35.802 s24.684,30.293,43.452,48.653c18.36,18.77,34.68,33.354,48.96,43.76c14.277,10.4,26.215,18.053,35.803,22.949 c9.588,4.896,16.932,7.854,22.031,8.871l7.648,1.531c0.816,0,2.145-0.307,3.979-0.918c1.836-0.613,3.162-1.326,3.979-2.143 l34.883-35.496c7.348-6.527,15.912-9.791,25.705-9.791c6.938,0,12.443,1.223,16.523,3.672h0.611l118.115,69.768 C571.098,441.238,576.197,447.968,577.83,456.128z'/> </svg>");
}
.icon-meeting{
    width: 28px;
    height: 28px;
    background-image: url("../api/meeting.png");
}