/* index */
.button-square{
  border-radius: 0px;
}

.big-first-letter:first-letter{
  font-size: 2em;
  line-height: 1;
  text-indent: 2em;
}

.text{
	margin-top: 2em;
	text-indent: 1em;
}

.no-padding{
	padding: 0;
}

.button-max{
	/*line-height: 44px;*/
	border: none;
}


.sub-title{
	/*text-align: center;*/
}